@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;

    overflow-x: hidden;
   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1{
    font-size: 2.5em;
    font-weight: 800;
}

h1,
h2,
h3,
h4{
  
  font-weight: 600;
  /* font-size: 2em; */
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin: .5em 0;
}

a{
    text-decoration: none;
    color: white;
}

.text-center{
    text-align: center;
}

section{

    padding: 2rem 0;
}

.container {
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    
    width: min(90%, 75.5rem);
}

#table{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: min(90%, 60.5rem);
overflow-x: hidden;
}

.select{
  margin-left: auto;
  margin-right: auto;
  width: min(95%, 75.5rem);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* padding: .5em; */
  

 
  

}
.date input{
  border: none;
  background-color: #f6faff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  border-radius: .5em;
  padding: 1em;
}

#table div{
    display: grid;
    
    grid-template-columns: 25% 25% 25% 25%;
    gap: .5em;
    border-bottom: .5px solid lightgray;
    
    align-content: center;
}



select{
  height: 40px;
  font-size: 1.2em;
  margin-top:1px;
  border: none;
  border-style: inset;
  border: none;
  background-color: #f6faff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  padding: .5em;
  border-radius: .5em;
  /* width: 24%; */
}


#buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.3em;
    padding: 1em .5em .5em .5em;

}

    button {
      color: white;
      padding: 0.5em 1.7em;
      font-size: 18px;
      font-weight: 500;
      border-radius: 0.5em;
       background-color: #121212;
      border: none;
        transition: all .25s ease-in-out;
        box-shadow: 3px 3px 6px #c5c5c5,
                    -4px -4px 6px #f6f6f6;
                    color: #f6faff;
 
  text-shadow: 0 0 5px #f6faff  ;
                  }
                  
                  
                  button:active {
                    box-shadow: 4px 4px 12px #c5c5c5,
                    -4px -4px 12px #ffffff;
                  }
                  
                  .active-btn, .date button{
                    background-color: #121212;
                    
                    color: #f6faff;
  box-shadow: 0 0 5px #121212;
  text-shadow: 0 0 5px #f6faff  ;

                    
       }


       button:hover, select:hover, .date input{
           cursor: pointer;
       }


       .lds-ring {
        display: inline-block;
        position: relative;
        width: 150px;
        height: 150px;
        margin-top: 50px;
        border:none !important;
        margin-left: auto;
        margin-right: auto;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        margin: 8px;
        border: 10px solid #121212;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #121212 transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      #tetst{
        gap: .3em
      }
  @media (max-width: 768px) {
    body{
      font-size: 14px;
      width: auto;
    }
    #buttons{
    grid-template-columns: auto auto;

    }
    #tetst{
      gap: 0
    }
    select{
      padding: .1em;
      height: 30px;
    }
    #find-date{
        height: 40%;
        padding: .2em .6em;
        transform: translateY(100%);
        border-radius: .25em;
    }
    select{
      width: 48%;
    }
    #table{
      width: 97%;
      margin-left: auto;
      margin-right: auto;
    }
    #table div {
      grid-template-columns: 35% 25% 20% 20%;
    }
    .select{
      display: grid;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-columns: auto;
    }
    .date input{
      padding: .3em;
    }
  }
    .date button{
      margin-left: .5em;
      padding: .7em .7em;
      transition: .2s ease-in-out;
    }

    .date button:hover{
      transform: scale(1.02);
    }

    [data-cl=completed]{
      color: green;
    }
    [data-cl=no-answer]{
      color: rgb(83, 195, 240);
    }
    [data-cl=failed]{
      color: red;
    }


    /* From cssbuttons.io by @westitan */
#get-data {
  position: relative;
  padding: 19px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  border: none;
 }
 
 #get-data span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
 }
 
 #get-data .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
 }
 
 #get-data .liquid::after,
 #get-data .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
 }
 
 #get-data .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
 }
 
 #get-data .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
 }
 
 #get-data:hover .liquid {
  top: -120px;
 }
 
 @keyframes animate {
  0% {
   transform: translate(-50%, -75%) rotate(0deg);
  }
 
  100% {
   transform: translate(-50%, -75%) rotate(360deg);
  }
 }
